body,html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#map {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

#info_box{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  z-index: 1000;
  position: absolute;
  display: block;
  height: 40%;
  min-height: 300px;
  width: 700px;
  margin-right: 8%;
  margin-left: 5%;
  background-color: #fefeff;
  padding: 12px;
  bottom: 35px;
}

#fire_list {
  margin-top: -1.8em;
  width: 150px;
  height: 130px;
  float: left;
}

#source {
  width: 100%;
  margin-top: -2em;
  font-size: 0.6em;
  float: left;
  text-align: right;
}

h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#bar_graph { 
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  float: right;
  float: left;
  width: 500px;
  padding-left: 10px;
  padding-top: 10px;
}

#bar_graph rect {
  cursor: pointer;
}

.invisible-bars {
  fill: white;
}
