body,html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#map {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

#chart_container {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  z-index: 1000;
  position: absolute;
  display: block;
  height: 160px;
  width: 530px;
  margin-right: 10%;
  margin-left: 10%;
  background-color: #fefeff;
  top: 75%;
  padding: 12px;
}

h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#bar_graph { 
  padding-left: 10px;
  padding-top: 10px;
}
