body,html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#map {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

#info_box{
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  z-index: 1000;
  position: absolute;
  display: block;
  height: 300px;
  width: 700px;
  background-color: #fefeff;
  padding-bottom: 20px;
  padding-left: 15px;
  bottom: 0px;
}

#fire_list {
  width: 150px;
  height: 100%;
  float: left;
}

#source {
  width: 97%;
  margin-top: -8em;
  font-size: 0.75em;
  float: left;
  text-align: right;
}

h1 {
  padding-bottom: 0px;
  margin-bottom: 4.3125px;
  margin-top: 8.625px;
}

h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#bar_graph { 
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  float: right;
  float: left;
  width: 400px;
  padding-left: 10px;
  padding-top: 10px;
}

#bar_graph svg {
  height: 225px;
  width: 400px;
}

#bar_graph rect {
  cursor: pointer;
}

#bar_graph text {
  font-size: 12px;
  fill: black;
}

.invisible-bars {
  fill: white;
}
